/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.main-margin {
  margin: 5%;
}
.font-sizing {
  font-size: 40px;
}
h1 {
  font-size: 40px;
  margin: 5%;
  color: coral;
  font-family: 'Permanent Marker', cursive;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  padding-top: 1%;
}
h3 {
  font-family: 'Permanent Marker', cursive;
}
h4 {
  font-family: 'Questrial', sans-serif;
}
li {
  list-style-type: disc;
  font-family: 'Questrial', sans-serif;
  margin-left: 2rem;
}
p {
  margin: 2%;
  font-family: 'Questrial', sans-serif;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin: 5%;
}
nav a {
  margin: 1rem;
  text-decoration: none;
  color: coral;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}
.introduction {
  background-color: lightgrey;
  margin: 5%;
}
.introduction .top {
  border-bottom: 1px solid black;
  Display: flex;
  justify-content: space-between;
  margin: 5%;
}
.introduction .bottom {
  margin: 5%;
}
.introduction .img {
  width: 40%;
}
.skills {
  margin: 5%;
  background-color: coral;
  Display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .skilled {
  padding: 5%;
}
.skills img {
  width: 40%;
  height: 40%;
}
.employment {
  margin: 5%;
  Display: flex;
  background-color: lightgrey;
  padding: 5%;
  justify-content: space-between;
}
.employment h2 {
  padding-bottom: 5%;
}
.employment img {
  width: 30%;
  height: 30%;
}
.contact {
  margin: 5%;
  background-color: coral;
  padding-bottom: 5%;
}
.contact h2 {
  margin: 5%;
}
.contact .links {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Questrial', sans-serif;
  font-size: 2rem;
}
.contact a {
  text-decoration: none;
  color: lightgrey;
}
.icons {
  margin-left: 1.5%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  nav {
    display: flex;
  }
  img {
    display: none;
  }
  .links {
    display: flex;
  }
  .links a {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
  }
}
